.portfolio--container__contact {
  display: flex;
  flex-direction: column;

  margin: 2rem;
}

.contact__title {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.portfolio--container__contact > p,
.portfolio--container__contact > button {
  margin: 1rem;
}

@media (min-width: 70.625em) {
  .portfolio--container__contact {
    margin-inline: 5rem;
  }
}
