.portfolio-container__work {
  margin: 1rem;
  display: grid;
  grid-template-rows: 5fr 95fr;
}

.work__title {
  font-size: 2.5rem;
  margin-top: 3rem;
}

.work__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card {
  margin: 1rem;
  background-color: white;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__content > * {
  margin: 1rem;
  font-size: 1.1rem;
}
.card__content > p {
  text-indent: 1rem;
}
.card__content--image {
  height: 10rem;
  border-radius: 1rem;
}
.card__content--button-group {
  display: flex;
  margin: 1.5rem;
}

.card__content--live-button,
.card__content--repo-button {
  margin: 1rem;
}

.card__content--repo-button > *,
.card__content--live-button > * {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

@media (min-width: 48.125rem) {
  .portfolio-container__work {
    grid-template-rows: 5fr 95fr;
  }
  .work__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card__content--image {
    height: 15rem;

    border-radius: 1rem;
  }
}

@media (min-width: 70.625rem) {
  .portfolio-container__work {
    margin-inline: 5rem;
    margin-top: 3rem;
  }
  .card__content--image {
    height: 20rem;
    width: 35rem;
    border-radius: 1rem;
  }
}
