.App {
  display: grid;
  grid-template-rows: 5fr 95fr;
}

.portfolio-container__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.intro {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.intro__item {
  margin-bottom: 1rem;
  text-align: center;
}

.name:hover {
  cursor: grab;
}

.name:active {
  cursor: grabbing;
}
.socials-group {
  position: relative;
  bottom: -5rem;
  left: 50;
  margin-top: 1rem;
  display: flex;
}
.socials-group > * {
  margin-inline: 1rem;
}
/* WORK */
